.about-container{
  
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 3rem;
  border: 2px solid black;
  height: 500px;
}

.information-container{
  padding: 1rem;

  height: 300px;
}


.about-container h1{
  font-size: 1rem;
  text-align: center;
}