.contact-container {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  color:black;
  
  display: flex;
  flex-direction: column;
}



.card_contact {
  background-color:white;
  
  border: 2px solid black; 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
 

}

.card_contact h1{
  font-size: 1rem;
  text-align: center;
}

.card_contact_details p{
 
 
  color:darkgray;
}


textarea {

  font-family: Arial, Helvetica, sans-serif;
}



.form-items input[type="text"],
.form-items input[type="email"],
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
   
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.form-items textarea {
    resize: vertical; 
    margin-bottom: 1rem;
}

.submit-button {
  padding: 1rem;

  color: white;
  text-decoration: none;
  background-color: blue;
  border-radius: 1rem;
  
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid blue;
  transition: background-color 0.3s;

  float: right;


}

.submit-button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}