.heading {
  color: black;
  background-color: white;
 
  border: 2px solid black;

  width: max-content;
  padding: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 4rem;
  
  
}

.heading p {
  margin: 0;
}
