.heading {
  color: white;
  background-color: blue;
 


  width: max-content;
  padding: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  
  
}
/* For tablets */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

/* For phones */
@media screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}



.heading p {
  margin: 0;
}
