.heading {
  color: white;
  background-color: blue;
 


  width: max-content;
  padding: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  
  
}

.heading p {
  margin: 0;
}
