

.links-container{
  gap: 1rem;
  display: flex;  
  flex-direction: row; 
  background-color: white;


  border-bottom: 2px solid blue;
  /* border-left: 2px solid black; */
  border-right: 2px solid blue;


  padding: 1rem;
  
  width: min-content;
}

.link-style {
  color: blue;
  display: flex;  
  flex-direction: row; 

  text-decoration: none;
 
  transition: background-color 0.3s; 
  font-size: 1rem;
  margin: 0;
  

}

.link-style:hover {

  color: white;
  background-color: blue;

}
