

.links-container{
  gap: 1rem;
  display: flex;  
  flex-direction: row; 
  background-color: white;

  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;


  padding: 1rem;
  
  width: min-content;
}

.home-style {
  color: black;
  display: flex;  
  flex-direction: row; 

  text-decoration: none;
 
  transition: background-color 0.3s; 
  font-size: 1rem;
  margin: 0;
  

}

.home-style:hover {

  color: blue;
  

}
