.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 

  height: 200px;
  background-color: white;
  color: black;
}

.heading {
  border: 20px outset blueviolet;
 
  font-size: 2rem;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.links-container {
  display: flex;         
  justify-content: center; 
  align-items: center;    
  font-size: 2rem;
  margin: 0;
  
  border: 20px outset gold;
}

.links-container:hover{

  border: 20px inset lightgray;

}

.home-style {
  color: black;
  display: flex;  
  align-items: center;  
  justify-content: center; 
  height: 100%;  
  width: 100%;
  text-decoration: none;
  box-sizing: border-box; 
  transition: background-color 0.3s;  
}

.home-style:hover {
  background-color: black; 
  color: white;
}
