.container {
  height: 300px;
  width: 100%;
  background-color: white;
  margin: 50;
}

.label-container {
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: blue;
  font-size: 3rem;

}
