
.clock{

  padding: 0.5rem;
}


.clock-header {
  font-size: 3rem;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 3rem;
border: 2px solid black;
  
}

.clock-header p{

  text-align: center;
}


.location-select {
  font-size: 3rem;


}