
.clock-header {
  font-size: 3rem;
  background-color: white;
  color: black;
  border: 20px outset lightgrey;
  
}

.clock-header p{

  text-align: center;
}


.location-select {
  font-size: 3rem;


}