.linksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); 
  justify-content: center; 
  font-size: 2rem;
  
}

.linkStyle {

  color: black;
  text-align: center;  

  text-decoration: none;
  

  border: 20px outset lightgray;
  box-sizing: border-box; 
  transition: background-color 0.3s;  
  height: 250px;  
  width: 100%; 

  display: flex;            
  justify-content: center;  
  align-items: center;

}

.linkStyle:hover{
  border: 20px inset lightgray;
  cursor: pointer;

}

.linkStyle:hover {
  background-color: darkgrey; 
  color: blue;
}

/* 
.aucklandBorder {
  border-color: red;
  
 
}

.parisBorder {
  border-color: deepskyblue;
}

.berlinBorder {
  border-color: green;
}

.moscowBorder {
  border-color: mediumspringgreen;
}

.nyBorder {
  border-color: mediumorchid;
}

.sydneyBorder {

  border-color: chartreuse;

}

.newdelhiBorder{

  border-color: deeppink;
}

.beijingBorder {

  border-color: cyan;

}

.londonBorder {
  border-color: powderblue;


}

.laBorder {

  border-color: darkorange;
} */

/* .selectBorder {

  border: none;
} */