.linksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); 
  justify-content: center; 
  
}

.linkStyle {

  color: black;
  text-align: center;  

  text-decoration: none;
  

  border: 20px inset lightgray;
  box-sizing: border-box; 
  transition: background-color 0.3s;  
  height: 250px;  
  width: 100%; 

  display: flex;            
  justify-content: center;  
  align-items: center;

}

.linkStyle:hover {
  background-color: black; 
  color: white;
}


.aucklandBorder {
  border-color: red;
 
}

.parisBorder {
  border-color: deepskyblue;
}

.berlinBorder {
  border-color: green;
}

.moscowBorder {
  border-color: purple;
}

.nyBorder {
  border-color: gold;
}