.formContainer {
  padding: 20px;
  background-color: white;

 
  margin-top: 1rem;  
 
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center; 
 
 
}

.formContainer label, 
.formContainer input, 
.formContainer select,
.formContainer button {
  margin: 0 5px; 
  
}

.submitButton {

  background-color: white;
  color: black;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}

.submitButton:hover {
  background-color: black;
  color: white;
 
  cursor: pointer;
}


.linksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); 
  justify-content: center; 
  font-size: 2rem;
  gap:1rem;
  
}

.linkStyle {

  color: black;
  text-align: center;  
  background-color: white;
  text-decoration: none;
  border-radius: 3rem;
  border: 2px solid black;



  box-sizing: border-box; 
  transition: background-color 0.3s;  
  height: 250px;  
  width: 100%; 

  display: flex;            
  justify-content: center;  
  align-items: center;
  flex-direction: column; 
  width: 100%;   

}

.linkStyle:hover{
  border: 20px inset lightgray;
  cursor: pointer;

}

.linkStyle:hover {
  background-color: darkgrey; 
  color: blue;
}

.friendsText {
  color: white;
  font-size: 1.5rem;
  background-color: black;
    width: 100%;
  text-align: center;   
}


/* 
.aucklandBorder {
  border-color: red;
  
 
}

.parisBorder {
  border-color: deepskyblue;
}

.berlinBorder {
  border-color: green;
}

.moscowBorder {
  border-color: mediumspringgreen;
}

.nyBorder {
  border-color: mediumorchid;
}

.sydneyBorder {

  border-color: chartreuse;

}

.newdelhiBorder{

  border-color: deeppink;
}

.beijingBorder {

  border-color: cyan;

}

.londonBorder {
  border-color: powderblue;


}

.laBorder {

  border-color: darkorange;
} */

/* .selectBorder {

  border: none;
} */