.formContainer {
  padding: 20px;
  background-color: white;
  margin-top: 1rem;  
  border-top: 20px dotted rgb(237, 237, 237);
  
  display: flex;
  flex-direction: row;
  align-items: center; 
  
 
}

.formContainer label, 
.formContainer input, 
.formContainer select,
.formContainer button {
  margin: 0 5px; 
  
}


.formContainer select,
.formContainer input {
  border-radius: none;
  border: 1px solid black;
  padding: 0.2rem;
}


.submitButton {

  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid black;
  
}

.submitButton:hover {
  background-color: blue;
  color: white;
 
  cursor: pointer;
}


.linksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); 
  justify-content: center; 
  font-size: 1.5rem;
  gap:1rem;
  margin: 0.5rem;
  
}

/* For tablets */
@media screen and (max-width: 768px) {
  .linksContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For phones */
@media screen and (max-width: 480px) {
  .linksContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}


.linkStyle {
  color: black;
  text-align: center;
  background-color: white;
  text-decoration: none;
  border-radius: 50%; 
  border: 2px solid black;

  box-sizing: border-box; 
  transition: background-color 0.3s;  
  height: 250px;  
  width: 250px;

  display: flex;            
  justify-content: center;  
  align-items: center;
  flex-direction: column; 
}

.linkStyle:hover{
 
  cursor: pointer;
  background-color: blue; 
  color: white;
}



.friendsText {
  color: black;
  font-size: 1rem;
  width: 100%;
  text-align: center;   
  overflow: hidden;
}

.friendsText:hover{

  color: white;
}

/* 
.aucklandBorder {
  border-color: red;
  
 
}

.parisBorder {
  border-color: deepskyblue;
}

.berlinBorder {
  border-color: green;
}

.moscowBorder {
  border-color: mediumspringgreen;
}

.nyBorder {
  border-color: mediumorchid;
}

.sydneyBorder {

  border-color: chartreuse;

}

.newdelhiBorder{

  border-color: deeppink;
}

.beijingBorder {

  border-color: cyan;

}

.londonBorder {
  border-color: powderblue;


}

.laBorder {

  border-color: darkorange;
} */

/* .selectBorder {

  border: none;
} */